repos:
- repo: https://github.com/ambv/black
  rev: 20.8b1
  hooks:
    - id: black
      name: Format Python Code
      language: python
      entry: black
      args:
        - --safe
        - --line-length=79
        - --target-version=py38
        - .

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
    - id: requirements-txt-fixer
      name: Requirements file fixer
      language: python
      args:
        - requirements.txt
        - requirements-dev.txt

- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.4
  hooks:
    - id: flake8
      name: Flake8 Check
      language: python
      entry: flake8
      args:
        - tea

- repo: https://github.com/pycqa/pydocstyle
  rev: 5.1.1
  hooks:
    - id: pydocstyle
      name: Python Documentation Style Check
      language: python
      entry: pydocstyle
      args:
        - tea
