-r requirements.txt
black~=21.9b0
flake8~=4.0.1
ghp-import~=2.0.2
myst-parser~=0.15.2
pre-commit~=2.15.0
pydocstyle~=6.1.1
pytest~=6.2.5
pytest-cov~=3.0.0
sphinx~=4.2.0
sphinx_rtd_theme~=1.0.0
twine~=3.4.2
